@-moz-keyframes opacity {
  0%,
  50%,
  100% {
    -moz-opacity: 1;
    opacity: 1;
  }
  25%,
  75% {
    -moz-opacity: 0;
    opacity: 0;
  }
}
@-webkit-keyframes opacity {
  0%,
  50%,
  100% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  25%,
  75% {
    -moz-opacity: 0;
    opacity: 0;
  }
}
@keyframes opacity {
  0%,
  50%,
  100% {
    -moz-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
  25%,
  75% {
    -moz-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
  }
}

.flash {
  -moz-animation: opacity 2s infinite;
  -webkit-animation: opacity 2s infinite;
  animation: opacity 2s infinite;
  z-index: 0;
  position: absolute;
  top: -5px;
  right: 8%;
  height: 3px;
  width: 3px;
}
