html {
  padding: 0;
  margin: 0;
  scrollbar-color: #C6900E #3D403E;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: #3D403E ;
}
::-webkit-scrollbar-thumb {
  background: #C6900E;
  border-radius: 10px;
}

.cool-button {
  display: inline-block;
  text-decoration: none;
}
.cool-button::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #C6900E;
  transition: width .3s;
}
.cool-button:hover::after {
  width: 100%;
  transition: width .3s;
}

.cool-link {
  display: inline-block;
  text-decoration: none;
}
.cool-link::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 2px;
  height: 2px;
  background: #06c;
  transition: width .3s;
}
.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
  font-family: 'Ethereal';
  font-style: normal;
  font-weight: 100;
  src: local('Ethereal'), url('https://fonts.cdnfonts.com/s/78834/Ethereal-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Zacbel X';
  font-style: normal;
  font-weight: 0;
  src: local('Zacbel X'), url('https://fonts.cdnfonts.com/s/83998/zacbelx-extrabold.woff') format('woff');
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
