html {
  padding: 0;
  margin: 0;
  scrollbar-color: #C6900E #3D403E;
  background-color: #050505;
  -webkit-text-size-adjust: 100%;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #050505;

  /* Trick to have a clean loading overlay and keep SEO content be caught by robots. This css value will be updated by js on page load */
  overflow-y: hidden; 
}

::-webkit-scrollbar {
  background: #3D403E ;
}
::-webkit-scrollbar-thumb {
  background: #c6900e;
  border-radius: 10px;
}

.cool-button {
  display: inline-block;
  text-decoration: none;
}
.cool-button::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #C6900E;
  transition: width .3s;
}
.cool-button:hover::after {
  width: 100%;
  transition: width .3s;
}

.cool-button-black {
  display: inline-block;
  text-decoration: none;
}
.cool-button-black::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
.cool-button-black:hover::after {
  width: 100%;
  transition: width .3s;
}

.cool-link {
  display: inline-block;
  text-decoration: none;
}
.cool-link::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 2px;
  height: 2px;
  background: #06c;
  transition: width .3s;
}
.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}
.list-style-none {
  list-style: none;
}
.no-padding {
  padding: 0
}
.full-width {
  width: 100% !important;
}
.half-width {
  width: 50% !important;
}
.full-height {
  height: 100% !important;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex !important;
}
.baseline {
  align-items: baseline !important;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.bg-cover {
  background-size: cover !important;
  background-position: 50% 50% !important;
}
.bg-cover-hover {
  background-size: cover !important;
  background-position: 50% 50% !important;
}
.bg-cover-hover:hover {
  background-size: cover !important;
  background-position: 50% 50% !important;
}
.uppercase {
  text-transform: uppercase;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative !important;
}
.row {
  display: flex;
  flex-direction: row !important;
}
.column {
  flex-direction: column !important;
}
.pointer {
  cursor: pointer
}
.no-padding {
  padding: 0
}
.no-margin {
  margin: 0
}
.gap-10 {
  gap: 10px !important
}
.gap-2 {
  gap: 2px !important
}
.gap-4 {
  gap: 4px !important
}
.bold {
  font-weight: bold !important;
}
.fixed {
  position: fixed !important
}
.sticky {
  position: sticky;
}
.top {
  top: 0
}
.bottom {
  bottom: 0
}
.left {
  left: 0
}
.right {
  right: 0
}
.flex-grow {
  flex-grow: 1;
}
.uppercase {
  text-transform: uppercase;
}
.space-between {
  justify-content: space-between;
}
.no-overflow {
  overflow: hidden;
}
.justify-center {
  justify-content: center;
}
.margin-auto {
  margin: auto;
}
.opacity-hover:hover {
  opacity: 0.5;
}

/* Hide input type numbers arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* TEST */
.baseline-align {
  display: inline-block;
  line-height: 0;
}
.baseline-align::after {
  content: '';
  display: inline-block;
  height: 1.2em;
}
.true-baseline-align {
  display: inline-block;
  line-height: 0;
}
.true-baseline-align::after {
  content: '';
  display: inline-block;
  height: 1em;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.input-no-underline::before, .input-no-underline::after {
  border-bottom: none !important;
}
.MuiInput-input::placeholder {
  color: #C6900E;
}
.initial-cap{
    display: inline-block;
  }
.initial-cap::first-letter{
    text-transform: capitalize;
  }

@font-face {
  font-family: 'Ethereal';
  font-style: normal;
  font-weight: 100;
  src: local('Ethereal'), url('https://fonts.cdnfonts.com/s/78834/Ethereal-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Zacbel X';
  font-style: normal;
  font-weight: 1;
  src: local('Zacbel X'), url('https://fonts.cdnfonts.com/s/83998/zacbelx-extrabold.woff') format('woff');
}
@font-face {
  font-family: 'Helmet';
  font-style: normal;
  font-weight: 400;
  src: local('Helmet'), url('https://fonts.cdnfonts.com/s/18191/Helmet-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Kardust';
  font-style: normal;
  font-weight: 700;
  src: local('Kardust'), url('https://fonts.cdnfonts.com/s/30680/Kardust TS Condensed Bold Italic.woff') format('woff');
}
@font-face {
  font-family: 'Paradise Garden Personal Use';
  font-style: normal;
  font-weight: 400;
  src: local('Paradise Garden Personal Use'), url('https://fonts.cdnfonts.com/s/90821/ParadiseGardenPersonalUse-9YJAL.woff') format('woff');
}
@font-face {
  font-family: 'Trophy';
  font-style: normal;
  font-weight: 400;
  src: local('Trophy'), url('https://fonts.cdnfonts.com/s/84900/TrophyRegular-qZ9Gl.woff') format('woff');
}
@font-face {
  font-family: 'POPFINE';
  font-style: normal;
  font-weight: 400;
  src: local('POPFINE'), url('https://fonts.cdnfonts.com/s/83327/POPFINE Italic.woff') format('woff');
}
@font-face {
  font-family: 'Zebulon';
  font-style: normal;
  font-weight: 400;
  src: local('Zebulon'), url('https://fonts.cdnfonts.com/s/73486/Zebulon.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Be Vietnam Pro'), url('https://fonts.cdnfonts.com/s/93361/BeVietnamPro-Regular.woff') format('woff');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px rgb(198, 144, 14, 0.1) inset !important;
    -webkit-box-shadow: 0 0 0 30px rgb(198, 144, 14, 0.1) inset !important;
}