@-moz-keyframes shine {
  from { -webkit-mask-position: 100%; }
  to { -webkit-mask-position: 0%; }
  }
@-webkit-keyframes shine {
  from { -webkit-mask-position: 100%; }
  to { -webkit-mask-position: 0%; }
  }
@keyframes shine {
  from { -webkit-mask-position: 100%; }
  to { -webkit-mask-position: 0%; }
  }

.shine {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 35%, #000 50%, rgba(0,0,0,.4) 65%);
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 35%, #000 50%, rgba(0,0,0,.4) 65%);
  -webkit-mask-size: 300%;
  mask-size: 300%;
  animation: shine 4s linear infinite;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
